[submodule "IL"]
	path = IL
	url = https://github.com/LejuRobotics/kuavo_data_challenge.git
[submodule "kuavo_ros_application/kuavo"]
	path = kuavo_ros_application/kuavo
	url = https://github.com/LejuRobotics/kuavo-ros-opensource.git
[submodule "imitation_learning_framework/IL"]
	path = imitation_learning_framework/IL
	url = https://github.com/LejuRobotics/kuavo_data_challenge.git
